<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="/images/mam-logo.png">
    <meta name="theme-color" content="#DB0000"/>
    <link rel="manifest" href="./app.webmanifest">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    
    <title><%= htmlWebpackPlugin.options.title %> | Abdul Restaurant</title>
  </head>
  <body>
    <btn-main-content></btn-main-content>

    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main id="mainContainer"></main>

    <footer>
      <div class="main-footer">
        <div class="container">
          <footer-app></footer-app>
        </div>
      </div>
    </footer>

  </body>
</html>
