<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <meta name="theme-color" content="#DB0000"/>
    <link rel="manifest" href="./app.webmanifest">
    
    <title><%= htmlWebpackPlugin.options.title %> | Abdul Restaurant</title>
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>
  <body>
    <btn-main-content></btn-main-content>

    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main id="mainContainer"></main>

    <footer>
      <div class="main-footer">
        <div class="container">
          <footer-app></footer-app>
        </div>
      </div>
    </footer>

  </body>
</html>
