$primary-color: #404258 ;
$secondary-color: #474E68;
$third-color: #50577A;
$forth-color: #6B728E;

@mixin width-fit {
  width: fit-content;
}

// GENERAL
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  padding-top: 54px;
}

.container,
.navbar-container {
  padding: 10px;
}

a { text-decoration: none; }

.bg-primary{ background-color: $primary-color;}

.border-none {
  border: none !important;
}

.rounded-default {
  border-radius: 6px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-fit {
  min-height: fit-content !important;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.list-item {
  list-style-type: none;
  padding-left: 0;

  li {
    margin-top: 8px;
  }
}

.max-h-600 {
  max-height: 600px;
}

.mt-3 { margin-top: 1rem !important;}

.mt-4 { margin-top: 1.25rem !important;}

.main-footer {
  display: flex;
  background-color: #404258;
  color: #FFF;
  justify-content: center;
  text-align: center;
}

.overflow-y-auto {
  overflow-y: auto;
}

.p-2 {
  padding: 16px;
}

.text-red {
  color: red;
}

.skip-link {
  position: fixed;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: #bf1722;
  color: white;
  z-index: 99990;
}

.skip-link:focus {
  top: 58px;
  left: 4px;
}


/* ===== HEADER ===== */
header {
  overflow: hidden;
  background-color: $primary-color;
  font-size: 17px;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar {
  overflow: hidden;
  background-color: $primary-color;

  .navbar-brand {
    color: #FFF;
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.header__menu {
  float: right;
  display: none;
  cursor: pointer;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav {
  ul {
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
  }

  a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    &:hover {
      background-color: $forth-color;
      color: white;
      border-radius: 8px;
    }
  
    &:active {
      background-color: #04AA6D;
      color: white;
    }
  }
}

/* ===== CONTENT ===== */
.list-container {
  text-align: center;
  padding: 20px 80px;
}

.list-container {
  h2 {
    font-size: 32px;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  flex-shrink: 0;
  max-width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.btn-add {
  background-color: $primary-color;
  border-color: #FFF;
  border-radius: 50%;
  position: fixed;
  bottom: 75px;
  right: 20px;
  z-index: 99;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &:hover {
    background-color: $third-color;
    border-color: $third-color;
  }
}

.card {
  min-height: 100%;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  text-align: left;
}

.card__header,
.card__body {
  color: #000;
}

.card__header {
  @include width-fit;

  a {
    &:hover {
      opacity: 80%;
    }
  }
}

.card__body {
  padding: 0px 10px;
}

.card__header-city {
  position: absolute;
  float: left;
  background-color: #FFF;
  padding: 8px 16px;
  color: $primary-color;
  border: 1px solid $third-color;
  border-left: 0px;
  border-radius: 0px 5px 5px 0px;
}

.card__header-image {
  max-width: 100%;
  min-height: 400px;
  max-height: 400px;
  object-fit: cover;
  object-position: top;
}

.card__body-title,
.card__body-description {
  @include width-fit;
}

.jumbotron-container {
  position: relative;
  max-width: 100%;
  min-width: 1000px;
  min-height: 600px;
  max-height: 600px;

  img {
    min-width: 100%;
    position: absolute;
    left: 0;
    max-height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-section {
  flex-direction: inherit !important;
}

.detail-container{
  width: 75%;
  justify-content: center;
}

.detail-title {
  display: flex;
  align-items: center;
  gap: 10px;

  h2 {
    font-size: 28px;
  }
}

.detail-image {
  max-width: 100%;
  text-align: center;

  img {
    max-width: 100%;
  }
}

.detail-rating {
  font-size: 20px;
}

.detail-description {
  text-align: justify;
}

.detail__card-title {
  font-size: 24px;
}

.content {
  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

/* ===== RESPONSIVE ===== */
@media screen and (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 33.33%;
  }
}

@media screen and (max-width: 1199px) {
  .jumbotron-container {
    min-width: 100%;
    img {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .p-2 {
    padding: 8px;
  }

  .skip-link {
    padding: 4px;
  }
  
  .skip-link:focus {
    top: 60px;
  }

  .header__menu {
    display: block;
  }

  .navbar-container {
    display: block;
    padding: 5px 20px;
  }

  .nav {
    display: none;

    ul {
      text-align: left;
      display: block;

      li {
        display: flex;
        width: 100%;

        a {
          width: 100%;
          text-align: left;
          padding: 14px 14px 14px 5px;
        }
      }
    }

    a {
      padding: 0px;
  
      &:hover {
        border-radius: 4px;
      }
    }
  }

  .open {
    display: block;
    transition: 300ms;
  }

  .jumbotron-container {
    min-height: 320px;

    img {
      min-width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 320px;
    }
  }

  .list-container {
    text-align: center;
    padding: 20px 5px;

    h2 { 
      font-size: 26px;
      margin: 20px 0px 0px 0px;
    }
  }

  .card {
    text-align: left;
  }

  .detail-container{
    width: 100%;
  }
}